@tailwind base;
@tailwind components;
@tailwind utilities;

.json-panel, .tree-panel {
    height: 550px;
}

.canvas-panel{
    display: flex;
    height: 550px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.my-canvas{
    max-height: 520px;
    max-width: 100%;
}

.canvas-wrapper{
    max-height: 520px;
    max-width: 100%;
}

.highlight{
    color: red;
}